<!-- About Section -->
<style>
  p {text-align: center;}
</style>
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <br>
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
        <p>Diplomirani anglist i kroatist s višegodišnjim iskustvom u školi. Radim i kao turistički vodič i prevoditelj.</p>
      <!-- </div> -->
      <!-- <div class="col-lg-4"> -->
        <p>I have a degree in English and Croatian, and considerable teaching experience. I also work as a tour guide and translator. </p>
      <!-- </div> -->
    </div>
  </div>
</section>
