<!-- Tours Section -->
<section class="poduke" id="poduke">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h1>Poduke</h1>
      </div>
    </div>
    <div class="row">
      <br>
      <div class="col-lg-6 text-center">
        <p class="text-left">Sto ljudi, sto stilova učenja. Jeste li sigurni da ste pronašli onaj koji je baš Vaš? 
          Jeste li sigurni da Vam jezici baš ne idu ili ih samo učite na pogrešan način? 
          Možda ste samo pokušavali preskočiti prepreke koje se daju premostiti. 
          Kao učitelj s četrnaestogodišnjim radom u školi, svjesna sam prednosti individualnog pristupa i 
          poteškoća u njegovu ostvarivanju u školi. Kome je sve namijenjena ova poduka? 
          Učenicima viših razreda osnovne škole, srednjoškolcima, maturantima u 
          pripremama državne mature, ali i odraslima. 
          Štoviše, namijenjena je i onima kojima super ide engleski, 
          no htjeli bi ga češće koristiti ili žele polagati ispit za neki certifikat.</p>
          
          <p class="text-left">These tutoring classes are also for foreigners wanting to learn or perfect 
            their Croatian. I am a native Croatian speaker with 14 years of experience in 
            teaching a foreign language and a degree in Croatian and English. 
            But what is even more important, I have a tremendous amount of patience 
            for your learning process.</p>
      </div>
      <div class="col-lg-6">
        <img src="img/learn.png" class="img-responsive" alt="Learn" >
      </div>
    </div>
  </div>
</section>
