<!-- Prijevodi Section -->
<section class="prijevodi" id="prijevodi">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-right">
        <h2>Prijevodi</h2>
      </div>
    </div>
    <div class="row">
      <br>
      <div class="col-lg-6">
        <img src="img/translate.jpg" class="img-responsive" alt="{{ post.alt }}" >
      </div>
      <div class="col-lg-6">
        <p class="text-right">Želite besprijekoran prijevod, da bolje zvuči, izvornije, u duhu jezika i struke, 
          da je u pravom registru, a da i dalje ne oštećuje primarnu poruku izvornika? 
          Trebate možda knjiškog moljca koji zazire od gramatičkih i pravopisnih oskvrnuća? 
          Diplomiranog anglista i kroatista koji prepotentno upozorava ljude na postojanje glagola „unajmiti“, 
          no čvrsto se drži izvan granica pretjeranog jezičnog purizma? 
          U tom slučaju Vaše odredište je ovdje. Diplomirani sam anglist i kroatist s 
          iskustvom prevođenja u marketingu i filmu te četrnaestogodišnjim iskustvom u školi 
          na radnom mjestu učitelja engleskog jezika. Javite se brzo jer oklijevanje je majka 
          propuštenih prilika. </p>
      </div>
    </div>
  </div>
</section>
