<!-- Tours Section -->
<section class="tour" id="tours">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2>Walking tours</h2>
      </div>
    </div>
    <div class="row">
      <br>
      <div class="col-lg-6">
        <p class="text-left">Do you want to maximize your stay in Zagreb by discovering shortcuts to all the 
          city’s hidden gems? Immerse yourself in the local culture with the help of the insider tips? 
          Learn more about the city’s history and gossipy historical titbits? Then don’t miss out 
          on this engaging 2-hour walking tour around the city centre with a certified guide. 
          To keep the tour tailored just for you, I work only with independent travellers, small groups and families. 
          This way you get a chance to chitchat about the things that really interest you and 
          skip the topics that bore you to tears. So what do you say?</p>
          <br>
          
          <div>
            <iframe 
              src="https://www.youtube.com/embed/cuHRSTIKbH4">
            </iframe>
          </div>
      </div>
      <div class="col-lg-6">
        <img src="img/zagreb.jpg" class="img-responsive" alt="{{ post.alt }}" >
      </div>
      <div>
        <a href="/Zagreb_City_2_hour_Private_Walking_Tour_with_a_certified_guide_1.pdf">
          <img src="/img/tour_info.svg" alt="tour info" class="img-center">
        </a>
      </div>
      <div>
        <product-catalog-widget widget-id="2b3db22b-a344-4960-988b-1b55da53f9f9"></product-catalog-widget><script type="text/javascript" src="https://widgets.regiondo.net/catalog/v1/catalog-widget.min.js"></script>
      </div>
    </div>
  </div>
</section>
